*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-white{
    color: #fff; !important
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
}

.col-third{
    width: 33.3333%;
}

.col-tow{
    width: 50%;
}

.col-full{
    width: 100%;
}

.text-center{
    text-align: center !important;
}

#main{

}

#header .mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#menu{
    display: inline-block;
}

#menu .submenu{
    list-style-type: none;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#menu > li{
    display: inline-block;
}

#menu li{
    position: relative;
}

#menu > li > a{
    color: #fff;
    text-transform: uppercase;
}

#menu li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;

}

#menu li:hover .submenu{
    display: block;
}

#menu > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#menu .submenu{
   display: none; 
   min-width: 160px;
   top:100%;
   left:0;
   position: absolute;
   background-color: #fff;
   box-shadow: 0 0 10px rgb(0 , 0 , 0 ,0.3);

}

#menu .submenu a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}

#menu .submenu li:hover a{
    color: #000;
    background-color: #ccc;
}

#menu .icon1{
    font-size: 12px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon{
    font-size: 20px;
    line-height: 46px;
    color: #fff;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slide1.jpg) top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    color: #fff;
    /*width: 100%;*/
}

#slider .text-heading{
    margin-bottom: 25px;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
}
#content{
    min-height: 1000px;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 60%;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .team{
    margin-top: 48px;
}

#content .team-item{
float: left;
width: 33.333333%;
text-align: center;
}

#content .name{
    font-size: 15px;
    text-align: center;
}

#content .avata{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

.tour-section{
    background-color: #000;
}

.ticket-list{
    list-style: none;
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
background-color: red;
color: #fff;
padding: 3px 4px;
margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/*----------places--------------*/
.places-list{
    margin-top: 16px;

}

.places-img{
    width: 100%;
    display: block;
}

.places-img:hover{
    opacity: 0.6;
}


.places-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.places-heading{
    font-size: 15px;
    font-weight: 600;
}

.places-time{
    margin-top: 15px;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.places-buy{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.places-buy:hover{
    color: #000;
    background-color: #ddd;
}


/*----------modal-------------*/
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 , 0 , 0 ,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 50px);
    min-height: 200px;
    position: relative;
    animation: modal-show ease 0.6s;
}

.modal-headr{
    background-color:aquamarine;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-bag{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover{
    opacity: 0.8;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 11px;
    margin-bottom: 24px;

}

#buy{
    color: #fff;
    background-color: aquamarine;
    border: none;
    width: 100%;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
}
#buy:hover{
    opacity: 0.8;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: cyan;
}

.contact-content{
    margin: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-contro {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .btn-submit{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;

}

.contact-form .btn-submit:hover{
    background-color: #ccc;
    color: #000;
}

.map-section img{
    margin-top: 120px;
    width: 100%;
}


#footer{
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
}

#footer .internet{
    font-size: 24px;

}

#footer .internet a{
    text-decoration: none;
    color: rgb(0 , 0 , 0 ,0.6);
}

#footer .internet a:hover{
    color: rgb(0 , 0 , 0 ,0.3);
}

#footer .copy{
    margin-top: 15px;
    color: rgb(0 , 0 , 0 ,0.6);
}

#footer .copy a{
    color: rgb(0 , 0 , 0 ,0.6);
}

@keyframes modal-show {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
